<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <title>LSTM emoji prediction app using Keras</title>
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
  <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>
  <script src="http://malsup.github.com/jquery.form.js"></script>

  <script type="text/javascript">

    window.onload = function () {
      var chart = new CanvasJS.Chart("chartContainer", {
        title: {
          text: "First emoji sentiment representation"
        },
        data: [
          {
            // Change type to "doughnut", "line", "splineArea", etc.
            type: "column",
            dataPoints: [
              { label: "Joy", y: 0 },
              { label: "Love", y: 0 },
              { label: "Surprise", y: 0 },
              { label: "Fear", y: 0 },
              { label: "Hate", y: 0 },
              { label: "Sadness", y: 0 },
              { label: "Neutrality", y: 0 }
            ]
          }
        ]
      });
      chart.render();
      $(document).ready(function () {
        $("#predict-button").click(function () {
          $('#myForm').ajaxForm(function (data) {
            pred_1 = JSON.stringify(data['emoji_1'])
            pred_2 = JSON.stringify(data['emoji_2'])
            pred_3 = JSON.stringify(data['emoji_3'])
            pred_4 = JSON.stringify(data['vector']['love'])
            //console.log(data['vector'])
            $('#result').text(' Predicted Output 1: ' + pred_1);
            $('#result_2').text(' Predicted Output 2: ' + pred_2);
            $('#result_3').text(' Predicted Output 3: ' + pred_3);
            chart.options.data[0].dataPoints[0]['y'] = data['vector']['Joy'];
            chart.options.data[0].dataPoints[1]['y'] = data['vector']['Love'];
            chart.options.data[0].dataPoints[2]['y'] = data['vector']['Surprise'];
            chart.options.data[0].dataPoints[3]['y'] = data['vector']['Fear'];
            chart.options.data[0].dataPoints[4]['y'] = data['vector']['Hate'];
            chart.options.data[0].dataPoints[5]['y'] = data['vector']['Sadness'];
            chart.options.data[0].dataPoints[6]['y'] = data['vector']['Neutrality'];
            chart.render();});
        });
      });
    }
  </script>
</head>

<body>

  <div class="container">
    <div class="header clearfix">
      <nav>
        <ul class="nav nav-pills pull-right">
          <li role="presentation" a><a href="https://github.com/paycheck97/Emoji_Pred_App" target="_blank">Code</a></li>
        </ul>
      </nav>
      <h3 class="text-muted">LSTM emoji predcition app</h3>
    </div>


    <form method='post' target="_self" action='/' id='myForm' class="mb-3 my-5">
      <h3>Write a text!</h3>
      <textarea type="text" placeholder="write your text here" class="form-control" name="predictionText"
        rows="3"></textarea>
      <div class="mb-3 pull-right">
        <button class="btn btn-success myButton" type="submit predictionText" id='predict-button'>Predict</button>
      </div>
    </form>

    <div class="jumbotron">

      <p id="result">Get your prediction here!</p>
      <p id="result_2"></p>
      <p id="result_3"></p>
      <p id="result_4"></p>
    </div>
    <div id="chartContainer" style="height: 300px; width: 100%;"></div>
    <!---   <div class="jumbotron">
      <p id="result">Get your prediction here!!!</p>
    </div>-->
    <footer class="footer">
      <p>&copy; 2020; Pacheco, Juan & Jahn, Alfredo</p>
    </footer>
  </div> <!-- /container -->

</body>

</html>